.add-practice-container {
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}

.pr-form {
  font-family: 'Lato';
  font-weight: bolder;
  text-align: center;
  border-radius: 10%;
}

.pr-button {
  font-family: 'Lato';
  font-weight: bolder;
}

.form-title {
  font-family: 'Permanent Marker';
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.form-container {
  font-family: 'Lato','sans';
  height: 75vh;
  width: 50vw;
  padding: 2em;
  background:white;
  border: 2px solid grey;
  border-radius: 35px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.pr-button {
  font-family: 'Permanent Marker','sans';
  border-radius: 10px;
}