@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Permanent+Marker&display=swap');

body {
  background-size: 100%;
  background-image: url("https://wallpapertag.com/wallpaper/full/4/c/8/128575-large-chalk-board-background-1920x1080-computer.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: antiquewhite;
}

img {
  border: 5px black
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
